<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>
<script>
    // gets date and sets as a variable and heading for todayDiv
    function getDate(dateVar) {        
        var today = new Date();
        var date = (today.getMonth()+1) + '/' + today.getDate() + '/' + today.getFullYear();
        console.log("Date: ", date)
        dateString = "Today's Date: " + date
        if (dateVar){
            document.getElementById(dateVar).innerHTML = dateString
            }
        return date
}
</script>
<body>

    <header id="headerBlock">
        <%- include('../partials/header'); %>
    </header>

    <div class="menuBar">
        <ul>
            <li><a href="/gethome">Home</a></li>
            <li><a href="/meetings">Meetings</a></li>
            <li><a href="/mentors">Mentors</a></li>
            <li><a href="/chat">Chat</a></li>
        </ul>
    </div>

    <div class="content" id="bigCalenderDiv">
        <h3 id="todaysDate"></h3>
        <p>BIG CALENDER SHIT</p>
        <p>BADA BING BADA BOOM</p>
    </div>
    <div class="content" id="meetingPoints">
        <h3>Meeting Points for Mentor</h3>
        <p>1.) Set goals, plans for achieving goals, and desired outcome of goals</p>
        <p>2.) Which of the employee's skills are they most confident in? Least confident? Why?</p>
        <p>3.) How could the employee improve on their least confident skill, and hone in on their most confident skill?</p>
        <p>4.) What did the employee do yesterday to improve themselves? What can be done today?</p>
        <p>5.) What was something that the employee struggled with yesterday?</p>
    </div>
    <script>
        getDate("todaysDate")
    </script>
</body>

</html>