* {
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, "segoe ui", roboto, oxygen, ubuntu, cantarell, "fira sans", "droid sans", "helvetica neue", Arial, sans-serif;
    font-size: 16px;
}

body {
    background-color: #202835!important;
}

#spacingDiv {
    width: 35vw;
    display: block;
    float: left;
}

h1,
h3 {
    line-height: normal!important;
    font-weight: 700!important;
}

#headerBlock {
    height: 10vh;
    margin-top: 1vh;
}

.header {
    font-size: 6vh;
    color: white;
    text-align: center;
    height: 10vh;
    width: 30vw;
    margin: auto;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99;
    border-radius: 15px;
    float: left;
}

.loginHeader {
    font-size: 6vh;
    color: white;
    text-align: center;
    height: 10vh;
    width: 30vw;
    margin: auto;
    display: block;
    background-color: rgba(0, 0, 0, .7);
    z-index: 99;
    border-radius: 15px;
}


/* menu bar  */

.menuBar {
    text-align: center;
    background-color: rgba(0, 0, 0, .7);
    width: 98vw;
    float: none;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
    padding: auto;
    border-radius: 15px;
    height: 6vh;
}

.menuBar ul {
    list-style-type: none;
    overflow: hidden;
    display: inline-table;
}

.menuBar li {
    float: left;
}

.menuBar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 18px;
}


/* Change the link color to #111 (black) on hover */

.menuBar li a:hover {
    background-color: #202835;
}


/* welcome back  */

#welcomeBack {
    width: 98vw;
    margin-top: 1vh;
    margin-left: 1vw;
    margin-right: 1vw;
}

#welcomeBack p {
    font-size: 30px;
    font-weight: bold
}


/* content stuff  */

.content {
    text-align: center;
    background-color: #363e4b;
    color: white;
    width: 100%;
    float: none;
    height: 5vh;
    border-radius: 15px;
}

.login {
    width: 400px;
    background-color: #363e4b;
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
    margin: 100px auto;
    border-radius: 15px;
}

.login h1 {
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    padding: 20px 0 20px 0;
    border-bottom: 1px solid #dee0e4;
}

.login form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 20px;
}

.login form label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    background-color: #3274d6;
    color: #ffffff;
}

.login form input {
    width: 310px;
    height: 50px;
    border: 1px solid #dee0e4;
    margin-bottom: 20px;
    padding: 0 15px;
}

.login form input[type="submit"] {
    width: 80%;
    padding: 15px;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #3274d6;
    border: 0;
    cursor: pointer;
    font-weight: bold;
    color: #ffffff;
    transition: background-color 0.2s;
    border-radius: 15px;
}

.login form input[type="submit"]:hover {
    background-color: #2868c7;
    transition: background-color 0.2s;
}

#loginLink {
    margin-bottom: 10px;
    text-align: center;
}

#loginLink:link {
    color: white;
}

#loginLink:visited {
    color: white;
}

#loginLink:hover {
    color: lightblue;
}


/* popover stuff */

.popover {
    float: right;
}

#popover-body,
#popover-heading {
    visibility: hidden;
}

#unique-id {
    line-height: .1;
}

#currentMentorCaseDiv,
#calenderDiv,
#todayDiv {
    height: 22.5vh;
    border-radius: 15px;
    margin-bottom: 2.5vh;
}

#currentMentorCaseDiv li,
#calenderDiv li,
#todayDiv li{
    text-decoration: none;
    list-style-type: none;
}

#widgetBot {
    display: block;
    float: right;
    width: 48.5vw;
    margin-top: 2vh;
    margin-right: 1vw;
    border-radius: 15px;
}

#separator {
    height: 75vh;
    float: left;
    width: 48.5vw;
    margin-left: 1vw;
}

#popoverImage {
    border-radius: 50%;
    background-color: white;
}